#detail-modal .wrapper-modal {
  position: fixed;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
#detail-modal .modal {
  position: relative;
  max-width: 600px;
  max-height: 600px;
  background-color: #111;
  overflow: hidden;
  border-radius: 8px;
  transition: all 400ms ease-in-out 2s;
  animation: fadeIn 400ms;
  overflow-y: auto;
  scrollbar-color: rgba(255,255,255,0.3) rgba(0, 0,0,0);
}


#detail-modal .modal__poster-img {
  height: auto;
}

#detail-modal .modal-close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  z-index: 1000;
  counter-reset: white;
}
#detail-modal .modal__content {
  padding: 40px;
}

#detail-modal .modal__title {
  padding: 0;
  font-size: 40px;
  max-width: 16px 0;
}

#detail-modal .modal__details {
  font-weight: 600;
  font-size: 18px;
}
#detail-modal .modal__overview {
  font-size: 20px;
  line-height: 1.5;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.5); }
  to { opacity: 1; transform: scale(1);}
}

@media screen and (max-height: 768px) {
  #detail-modal .wrapper-modal{
      align-items: unset;
      padding-top: 2rem;
  }
  #detail-modal .modal {
      overflow-y: scroll;
  }
}
@media screen and (max-width: 768px) {
  #detail-modal .modal__overview{
      font-size: 16px;
  }
  #detail-modal .modal__details {
      font-size: 16px;
  }
  #detail-modal .wrapper-modal {
      padding: 0;
  }
  #detail-modal .modal {
    width: 90%;
      overflow-y: scroll !important;
  }
  #detail-modal .modal__title {
    font-size: 32px;
  }
  #detail-modal .modal__details {
  font-weight: 600;
  font-size: 12px;
}
#detail-modal .modal__overview {
  font-size: 14px;
  line-height: 1.2;
}
}